<!DOCTYPE html>
<html>
    <head>
        <title>MeBlog</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
    <header>
        
        <h1 class="brand"><a href="/">MeBlog</a></h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        
        <nav>
            <ul class="navbar">
                <li><a href="/" id="home">Home</a></li>
                <li><a href="/about" id="about">About</a></li>
                <li><a href="/blogs" id="blogs">Blogs</a></li>
                <li><a href="/contact" id="contact">Contact</a></li>
            </ul>
        </nav>
        
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
    </header>
