<% include ./partials/header %>

<main class="about">
    <section class="about-section">
        <div class="about-photo">
            <img src="https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </div>
        <div class="about-photo-text">
            <h1>About Me</h1>
            <hr>
        </div>
        <div class="about-paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit ut aliquam purus sit amet. 
            Sed risus ultricies tristique nulla aliquet enim tortor at. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Senectus et netus et malesuada 
            fames ac. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Turpis egestas integer eget aliquet nibh praesent tristique. 
            Sollicitudin nibh sit amet commodo. Non nisi est sit amet facilisis magna etiam tempor orci. Euismod in pellentesque massa placerat duis ultricies.</p>
            <br>
            <p>Facilisi etiam dignissim diam quis enim lobortis scelerisque. Vitae suscipit tellus mauris a diam maecenas sed. Posuere ac ut consequat semper viverra nam libero justo. 
            Id aliquet lectus proin nibh nisl condimentum id venenatis a. In nisl nisi scelerisque eu. Eget gravida cum sociis natoque penatibus et magnis. Consequat semper 
            viverra nam libero justo laoreet sit. Posuere urna nec tincidunt praesent. In ornare quam viverra orci sagittis eu volutpat. Sed arcu non odio euismod lacinia at quis risus sed.</p>
        </div>
    </section>
</main>

<% include ./partials/footer %>