<% include ./partials/header %>


    <main class="home">
        <section class="index-banner">
            <div class="vertical-center">
                <h1>MeBlog</h1>
                <p>A creative and collaborative outlet for indivuals to share their ideas</p>
            </div>
        </section>
    
        <section class="index-boxes">
            <div class="index-boxlink-square">
                <a href="/portfolio">Portfolio</a>
            </div>
            <div class="index-boxlink-rectangle">
                <a href="https://github.com/mikec-git" target="_blank">Github</a>
            </div>
            <div class="index-boxlink-rectangle">
                <a href="/about">About</a>
            </div>
            <div class="index-boxlink-square">
                <a href="/contact">Contact</a>
            </div>
        </section>
    </main>


<% include ./partials/footer %>