<% include ./partials/header %>

<div class="container">
    <main>
    <div class="container">
        <h1 class="home">MeBlog</h1>
        <p>A creative and collaborative outlet for indivuals to share their ideas</p>
    </div>
        
    </main>
    
</div>


<% include ./partials/footer %>