<% include ./partials/header %>

<main class="contact">
    <div class="contact-info">
        <div class="contact-header">Let's Talk!</div>
        <form>
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Details" rows="5" class="details"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</main>


<% include ./partials/footer %>